Repository FEniCS/dolfinx, pull requests merged in 2023-01, with the labels that each got.

#2339 Add demo for solving axisymmetric Maxwell's equations - GSoC 2022
  python/demo/demo_axis/demo_axis.py
  python/demo/demo_axis/mesh_sphere_axis.py
Labels: demo

#2276 Add PML demo - GSoC 2022
  python/demo/demo_pml/demo_pml.py
  python/demo/demo_pml/efficiencies_pml_demo.py
  python/demo/demo_pml/mesh_wire_pml.py
  python/doc/source/demos.rst
Labels: demo

#2501 Add `demo_axis` in `demos.rst`
  python/doc/source/demos.rst
Labels: documentation, demo, backport?

#2478 Split pybind11 wrapper code in `fem.cpp` to improve compile times
  python/CMakeLists.txt
  python/dolfinx/wrappers/assemble.cpp
  python/dolfinx/wrappers/dolfinx.cpp
  python/dolfinx/wrappers/fem.cpp
Labels: build

#2515 make sure setuptools/pip are up-to-date before using them
  docker/Dockerfile
Labels: docker

#2390 Add divergence conforming discontinuous Galerkin demo for the Navier-Stokes equations
  python/demo/demo_navier_stokes.py
  python/doc/source/demos.rst
  python/dolfinx/fem/petsc.py
Labels: demo

#2512 Re-order and edit (some) demos (Python)
  cpp/dolfinx/fem/FunctionSpace.h
  python/demo/demo_axis/demo_axis.py
  python/demo/demo_axis/mesh_sphere_axis.py
  python/demo/demo_cahn-hilliard.py
  python/demo/demo_elasticity.py
  python/demo/demo_gmsh.py
  python/demo/demo_helmholtz.py
  python/demo/demo_interpolation-io.py
  python/demo/demo_lagrange_variants.py
  python/demo/demo_pml/demo_pml.py
  python/demo/demo_pml/mesh_wire_pml.py
  python/demo/demo_poisson.py
  python/demo/demo_pyvista.py
  python/demo/demo_scattering_boundary_conditions/analytical_efficiencies_wire.py
  python/demo/demo_scattering_boundary_conditions/demo_scattering_boundary_conditions.py
  python/demo/demo_scattering_boundary_conditions/mesh_wire.py
  python/demo/demo_static-condensation.py
  python/demo/demo_stokes.py
  python/demo/demo_tnt-elements.py
  python/demo/demo_types.py
  python/demo/demo_waveguide/analytical_modes.py
  python/demo/demo_waveguide/demo_half_loaded_waveguide.py
  python/doc/Makefile
  python/doc/source/conf.py
  python/doc/source/demos.rst
  python/dolfinx/fem/__init__.py
  python/dolfinx/io/gmshio.py
  python/dolfinx/la.py
Labels: documentation, demo

#2500 Wrap C++ `Mesh` from Python (fixes support for Python 3.11)
  python/demo/demo_lagrange_variants.py
  python/demo/demo_types.py
  python/dolfinx/fem/function.py
  python/dolfinx/geometry.py
  python/dolfinx/io/gmshio.py
  python/dolfinx/io/utils.py
  python/dolfinx/mesh.py
  python/dolfinx/plot.py
  python/test/unit/fem/test_custom_assembler.py
  python/test/unit/fem/test_custom_jit_kernels.py
  python/test/unit/fem/test_expression.py
  python/test/unit/fem/test_function_space.py
  python/test/unit/fem/test_interpolation.py
  python/test/unit/geometry/test_bounding_box_tree.py
  python/test/unit/io/test_adios2.py
  python/test/unit/io/test_xdmf_mesh.py
  python/test/unit/mesh/test_face.py
  python/test/unit/mesh/test_manifold_point_search.py
  python/test/unit/mesh/test_mesh.py
  python/test/unit/mesh/test_refinement.py
  python/test/unit/nls/test_newton.py
Labels: bug, proposal, in progress, high-priority
